body {
    background: url(https://vgtimes.ru/uploads/gallery/main/147123/lavazone2small.jpg);
}

h1 {
    text-align: center;
    color: yellow;
}

h2 {
    text-align: center;
    color: yellow;
}

p {
    color: #00FF00;
    text-align: center;
    font-size: 120%;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 0 0 royalblue;
    color: yellowgreen;
}

img:hover {
    opacity: 1;
    width: 600px;
    height: 500px;
    transition: 0.5s ease-out;
    padding: 5px;
}
