body {
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4d7d9d13857237.562792f1c88ea.jpg);
}

h1 {
    text-align: center;
    color: yellow;
}

h2 {
    text-align: center;
    color: yellow;
}

p {
    color: #00FF00;
    text-align: center;
    font-size: 120%;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 2px solid royalblue;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 0 0 royalblue;
    color: yellowgreen;
}
